<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H(T)ML Website</title>
    <link rel="stylesheet" href="/styles/login.css">
</head>

<body>

<!-- Header Section -->
<%- include('../partials/header', { activeIdx: 0 }) %>
 <% if (message != null ) { %> <script> alert('<%= message %>'); </script> <% } %>
    <!-- Main Content Section -->
    <main class="main-content">
        <div class="login-container">
            <img src="/images/Login-Register-Picture.png" alt="Banner Image" class="login-banner">
            <div class="login-form">
                <h2>Hãy điền thông tin email</h2>
                
                <form action="/forgot-password" method="POST">
                    <div class="input-group">
                        <input type="text" name="email" placeholder="Email" required>
                    </div>
                    <button type="submit" class="login-button">Lấy lại mật khẩu</button> <!-- Add type for button -->
                </form>
                <p> <a href="/login">Quay lại đăng nhập</a></p>
                
            </div>
        </div>
    </main>


    <!-- Footer Section -->

    <!-- Left Side of Footer -->
<%- include('../partials/footer', { activeIdx: 0 }) %>
   

</body>

</html>