<link rel="stylesheet" href="/styles/footer.css">
<footer class="footer">
    <div class="footer-left">
        <div class="footer-newsletter">
            <h3>Theo Dõi Các Tin Tức Mới Nhất Từ H(T)ML!</h3>
            <div class="newsletter-form">
                <input type="email" placeholder="Nhập Email Của Bạn">
                <button><img src="/icons/arrow-forward.svg" alt="Arrow"></button>
            </div>
            <label>
                <input type="checkbox"> Bằng việc nhập email, bạn đồng ý với việc nhận các tin quảng cáo, ưu đãi từ
                H(T)ML
            </label>
        </div>
        <div class="footer-social">
            <div class="footer-social-icons">
                <a href = "https://github.com/ckietlam/UIT-IE104-Men-Clothing-Sale-Website">
                    <img src="/icons/logos/logo-github.svg" alt="Github">
                </a>
                <a href = "https://www.facebook.com/">
                    <img src="/icons/logos/logo-facebook.svg" alt="Facebook">
                </a>
                <a href = "https://www.instagram.com/">
                    <img src="/icons/logos/logo-instagram.svg" alt="Instagram">
                </a>
                <a href = "https://www.pinterest.com">
                    <img src="/icons/logos/logo-pinterest.svg" alt="Pinterest">
                </a>
            </div>
            <p>© 2024 H(T)ML. All Rights Reserved.</p>
        </div>
    </div>

    <!-- Right Side of Footer -->
    <div class="footer-right">
        <div class="footer-links">
            <div>
                <h4>Về H(T)ML</h4>
                <a href="/">Bộ Sưu Tập</a>
                <a href="/terms-and-conditions">Quyền Riêng Tư</a>
                <a href="/customer-supports">Hệ Thống Hỗ Trợ</a>
                <a href="/terms">Điều Khoản</a>
                <a href="/copyright">Bản Quyền</a>
            </div>
            <div>
                <h4>Hỗ Trợ</h4>
                <a href="/ordering-rules">Mua Hàng & Vận Chuyển</a>
                <a href="/delivering-rules">Trả Hàng & Hoàn Tiền</a>
                <a href="/frequent-questions">Các Câu Hỏi Thường Gặp</a>
                
            </div>
        </div>
    </div>
</footer>