<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H(T)ML Website</title>
    <link rel="stylesheet" href="/styles/success.css">
</head>

<body>

<!-- Header Section -->
<%- include('../partials/header', { activeIdx: 0 }) %>

<main class="mainContent">
    <div class="box-main">
        <img src="/images/success.png" alt="Thanh cong" width="100" height="100" >
        <h1>Thanh toán thành công</h1>
        <p>
            Cảm ơn bạn đã lựa chọn mua sắm tại H(T)ML! <br />
        </p>
        <a href="/" class="returnButton">Quay Về Trang Chủ</a>
    </div>
</main>

<!-- Footer Section -->
<%- include('../partials/footer', { activeIdx: 0 }) %>

</body>

</html>